<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruixue.sdk.demo.vivo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_default_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_default_icon"
        android:supportsRtl="true"
        android:theme="@style/ThemeTranslucent"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="vivoUnionAppId"
            android:value="ab1f25ff8a0148a15227180692bd3314" />

        <activity
            android:name=".DemoActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>