<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.875255664003-eorr371qavp578ro0beafnfudr4upf1c</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb7472805502731255</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>TikTokAppID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awu72crzsonssopy</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ruixue</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ruixue</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>zalo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zalo-1290303975374472026</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx1a3b15b666a34754</string>
				<string>wxb6d1673215780b07</string>
				<string>wx6a7fc5ad2d0422d9</string>
				<string>wx12a1c72b3bfc5fc8</string>
				<string>wx7e70a5396d58cd89</string>
				<string>wx2c8f1e76b12af35d</string>
				<string>wx432e4673bff4945a</string>
				<string>wx5d34c56f0c58e881</string>
				<string>wxe3ed3ebb142026cd</string>
				<string>wx912e8525e57dca73</string>
				<string>wx65fe28350a5a300d</string>
				<string>wxa449c182333a7626</string>
				<string>wx641dfee352ab3d57</string>
				<string>wx595cc057ae448b00</string>
				<string>wxa449c182333a7626</string>
				<string>wxe8c6dd43f6b2028c</string>
				<string>wx242f30ff90bb6668</string>
				<string>wx8755e7b80be19d33</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>7472805502731255</string>
	<key>FacebookClientToken</key>
	<string>5ae6dd8dac4551ed3e7d347937a59359</string>
	<key>GIDClientID</key>
	<string>875255664003-eorr371qavp578ro0beafnfudr4upf1c.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb7472805502731255</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger</string>
		<string>Instagram</string>
		<string>zalosdk</string>
		<string>zaloshareext</string>
		<string>tiktokopensdk</string>
		<string>tiktoksharesdk</string>
		<string>snssdk1180</string>
		<string>snssdk1233</string>
		<string>snapchat</string>
		<string>bitmoji-sdk</string>
		<string>itms-apps</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>weixinURLParamsAPI</string>
		<string>line</string>
		<string>lineauth2</string>
		<string>tiktoksharesdk</string>
		<string>snapchat</string>
		<string>zalosdk</string>
	</array>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>1660717706</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SCSDKClientId</key>
	<string>817a23af-8d9c-4707-bb2c-1965d15e37fa</string>
	<key>SCSDKRedirectUrl</key>
	<string>ruixue://com.ruixue.sdkdemo/oauth2</string>
	<key>SCSDKScopes</key>
	<array>
		<string>https://auth.snapchat.com/oauth2/api/user.bitmoji.avatar</string>
		<string>https://auth.snapchat.com/oauth2/api/user.display_name</string>
		<string>https://auth.snapchat.com/oauth2/api/user.external_id</string>
	</array>
	<key>TikTokAppID</key>
	<string>awu72crzsonssopy</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
