<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruixue.sdk.demo.topon">

    <application android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_default_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_default_icon"
        android:supportsRtl="true"
        android:theme="@style/ThemeTranslucent"
        tools:replace="android:allowBackup">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <!-- source file: nonchina_jcenter/network_sdk/googleima/3.33.0/AndroidManifest.xml -->
        <!-- source file: nonchina_jcenter/network_sdk/admob/23.0.0/AndroidManifest.xml -->
        <!--google-->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9488501426181082~6354662111" />

        <activity
            android:name=".ToponDemoActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ManulRewardDemoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".AutoRewardDemoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ManulInsertDemoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".AutoInsertDemoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".SplashDemoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".BannerDemoActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>